.navbar .btn {
  padding: .375rem .75rem;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  font-size: 1rem; }

.navbar-toggler-icon {
  color: black; }

.navbar-brand {
  width: 40px; }

.nav-item span, .nav-item a {
  color: black !important; }

.navbar-brand img {
  width: 150px;
  height: 80px; }

.btn {
  padding: 14px 28px;
  font-size: 16px; }

.btn-primary {
  color: white;
  background-color: #28166F; }

.btn-secondary {
  background-color: transparent;
  color: black;
  border: 2px solid #28166F; }

.btn:hover, .btn:focus {
  background-color: #5039AB; }

.row-header {
  margin: 0px auto;
  padding: 125px 0px 40px; }

.row-content {
  margin: 0px auto;
  padding: 90px 0px 40px;
  min-height: 400px; 
  margin-top: 140px;}

.footer {
  background-color: #F9F9FD;
  margin: 0px auto;
  padding: 20px 0px 40px; }
  .footer #footer-address {
    font-size: 0.8em; }
  .footer  .copyright{
      font-size: 0.75em;}
.jumbotron {
  margin: 0px auto;
  padding: 0px 30px 40px;
  background: white;
  color: black;
  margin-top: 0px;
  padding-bottom: 0px; }
  .jumbotron img {
    width: 88%; }
  .jumbotron .btn {
    padding: 14px 28px;
    font-size: 16px; }
  .jumbotron #web-links {
    margin-top: 35px;
    color: #28166F;
    font-weight: bold; }
    .jumbotron #web-links .row {
      margin-left: 0px; }
    .jumbotron #web-links .fa {
      align-self: center;
      color: #28166F; }

.media {
  margin-top: 20px; }
  .media .img-thumbnail {
    height: 50px;
    width: 50px; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#services {
  text-align: center;
  min-height: 0px; }
  #services h1 {
    margin-top: -20px;
    font-size: 2em;
    margin-bottom: -20px; }
  #services .row {
    grid-column-gap: 10px; }
  #services .card {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    margin-bottom: 10px !important; }
  #services .card-img-overlay {
    color: white;
    padding: 5;
    opacity: 0.85; }
    #services .card-img-overlay h4 {
      background: linear-gradient(to right, blue, green); }

.slick-prev:before, .slick-next:before {
  color: black !important; }

#trainings {
  margin-top: 40px;
  text-align: center;
  background-image: url("./../img/training-bg.png");
  height: 90%;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover; }
  #trainings .card {
    width: 100%; }
  #trainings span {
    color: black; }
  #trainings #comma {
    width: 3%; }
  #trainings .carousel-item {
    height: 160px; }
  #trainings .text-secondary {
    margin-bottom: 4px; }
  #trainings img {
    width: 80%; }
  #trainings .carousel-control-prev {
    padding-right: 60px; }
  #trainings .carousel-control-next {
    padding-left: 60px; }
  #trainings .Marquee {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    color: #fff;
    font-weight: 200;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden; }
  #trainings .Marquee-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-animation: marquee 14s linear infinite running;
    -moz-animation: marquee 14s linear infinite running;
    -o-animation: marquee 14s linear infinite running;
    -ms-animation: marquee 14s linear infinite running;
    animation: marquee 14s linear infinite running; }
  #trainings .Marquee-content:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused; }
  #trainings .Marquee-tag {
    width: 150px;
    margin: 0 0.5em;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.1);
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #trainings .long-icon{
    width: 300px;}
  #trainings .Marquee-tag:hover {
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer; }

@-moz-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); } }

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); } }

@-o-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); } }

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); } }

#insights .card{
  height: 400px;}    

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 0px 0px 0px 0px;
  z-index: 0; }

html {
  scroll-behavior: smooth; }

#join-us img {
  width: 100%; }

#join-us div {
  margin-top: 20px; }

#partners .partner-img {
  width: 200px;
  margin-top: 40px;
  margin-left: 20px; }

.popover h1 {
  font-size: 1.25em; }

#contact-us {
  padding-top: 110px;
  margin-top: 40px; }

#footer-links a {
  color: #28166F !important; }

.nav-link.active {
  color: darkblue !important;
  text-emphasis: bold; }

.navbar-dark {
  background-color: white; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: white; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal-header {
  background-color: white;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background-color: #D1C4E9; }

.form-group {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px; }

.input-group {
  position: relative; }

.form-control {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575; }

.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0; }

.form-control:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none; }

/* -- label styles ---------------------------------- */
label {
  position: absolute;
  top: -18px;
  color: #999;
  font-size: 12px;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.form-horizontal .control-label {
  position: relative;
  top: 0;
  margin-bottom: 0; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-size: 16px; } }

.float-label {
  left: 0;
  top: 7px;
  font-size: 16px;
  pointer-events: none; }

/* active state */
.form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
  top: -18px;
  font-size: 12px; }

/* input colors ---- */
.form-control:focus ~ label {
  color: #03a9f4; }

.form-control:focus ~ .form-bar:before, .form-control:focus ~ .form-bar:after {
  background: #03a9f4; }

/* help-block */
.form-group .help-block {
  position: absolute; }

.help-block {
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 300; }

/* input addon ---*/
.input-group-addon {
  border: none;
  background: transparent; }

/* ------  inline ----*/
.input-group-addon, .form-inline .input-group {
  display: table-cell; }

.input-group-addon, .input-group-btn {
  width: inherit; }

.input-group {
  width: 100%; }

@media (min-width: 768px) {
  .form-inline .form-group {
    margin-top: 16px; }
  .input-group-btn, .input-group .form-control, .input-group-addon, .form-inline .input-group {
    display: inline-block; }
  .input-group {
    width: auto; } }

@media only screen and (max-width: 768px) {
  section {
    padding-top: 288px;
    margin-top: -288px; }
  #jumbotron-section {
    padding-top: 340px;
    margin-top: -340px; }
  .navbar-brand {
    margin-left: auto;
    margin-right: auto;
    width: 70px; }
  .row-content {
    padding-top: 120px;
    margin-top: 0px; }
  .navbar .nav-item {
    text-align: center;
    margin-top: 2px; }
  .navbar .btn {
    align-self: center;
    text-align: center;
    font-size: 12px;
    padding: 10px 22px;
    margin-top: 6px; }
  #jumbotorn {
    padding: 0px !important; }
  .jumbotron .row-header {
    padding-top: 120px;
    margin-top: -90px; }
  .jumbotron .btn {
    margin-bottom: 15px;
    font-size: 12px;
    padding: 10px 22px; }
  .jumbotron img {
    width: 100%; }
  .jumbotron h1 {
    margin-top: 8px;
    text-align: center;
    font-size: 1.5em; }
  .jumbotron hr {
    width: 100%; }
  .jumbotron p {
    margin-top: -25px;
    text-align: center; }
  .jumbotron #btn-row {
    margin-top: -13px !important; }
  #about-us h4 {
    font-size: 1em; }
  #about-us p {
    font-size: 0.75em; }
  #about-us h3 {
    font-size: 1.5em; }
  #services .row-content {
    padding-top: 70px; }
  #services p {
    margin-bottom: 4px; }
  #services h1 {
    font-size: 1.5em; }
  #services .card-title {
    font-size: 1.35em; }
  #services ul {
    font-size: 0.9em; }
  #trainings .carousel-item {
    padding-top: 4px !important;
    height: 240px; }
  #trainings #comma {
    width: 7%; }
  #trainings h1 {
    font-size: 1.75em; }
  #trainings p {
    font-size: 0.8em; }
  #trainings hr {
    width: 100%;
    color: black; }
  #join-us h1 {
    font-size: 1.5em; }
  #join-us p {
    font-size: 0.75em; }
  #join-us .row-content {
    margin-top: -20px; }
  #join-us img {
    width: 90%; }
  #join-us .btn {
    font-size: 0.75em; }
  .popover {
    max-width: 160px;
    font-size: 0.75em; }
    .popover h1 {
      font-size: 1em; }
    .popover .btn {
      font-size: 1em; }
    .popover i {
      size: 0.25em; }
  #insights .card{
    height: 100%;}
  #insights .row-content{
    padding-top: 100px;}
  #insights h1{
    font-size: 1.75em;
    margin-bottom: 0px;}
  #insights .insights-caraousel{
    margin-top: -30px;}
  #insights h3{
    font-size: 1.5em;}
  #insights p{
    font-size: 0.85em;}
  #insights .btn{
    font-size: 0.85em;}
  #partners .partner-img {
    width: 100px;
    margin-left: 5px; }
  #contact-us{
    padding-top: 70px;}
  #contact-us h1 {
    font-size: 1.5em; }
  #contact-us p {
    font-size: 0.75em; }
  #contact-us .row {
    margin-bottom: 10px !important; }
  #contact-us .form-group {
    width: 100% !important; }
  #contact-us .btn {
    align-self: center;
    text-align: center;
    font-size: 18px;
    padding: 10px 22px;
    margin-top: 6px;
    width: 100% !important; }
  footer div {
    text-align: center; } }
