$lt-gray: #ddd;
$background-white: white;
$background-light: white;
$background-pale: #D1C4E9;
$color-blue:#28166F;


.navbar{
    .btn{
    padding: .375rem .75rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-size: 1rem
    }
}


.navbar-toggler-icon{
    color: black;
}

// .navbar-light{
//     background-color: $background-white;
// }
.navbar-brand{
    width:40px;
}
.nav-item{
    span,a{
        color: black !important;
    };
}

.navbar-brand{
    img{
        width: 150px;
        height: 80px;
    }
} 

.btn{
    padding: 14px 28px;
    font-size: 16px;
}

.btn-primary{
    color: white;
    background-color: #28166F;
    // height: ;
}

.btn-secondary{
    background-color: transparent;
    color: black;
    border:2px solid #28166F;
}

.btn:hover,.btn:focus{
    background-color: #5039AB;
}

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right 40px;
}

.row-header{
    @include zero-margin(125px,0px);
}

.row-content {
    @include zero-margin(90px,0px);
    min-height:400px;
}

.footer{
    background-color: #F9F9FD;
    @include zero-margin(20px, 0px);
    #footer-address{
        font-size: 0.8em;
    }
    .copyright{
        font-size: 0.75em;
    }
}





.jumbotron {
    @include zero-margin(0px,30px);
    background: $background-light ;
    color:black;
    margin-top: 0px;
    padding-bottom: 0px;
    img{
        width: 88%;
    }
    .btn{
        padding: 14px 28px;
        font-size: 16px;
    }
    #web-links{
        margin-top: 35px;
        color:$color-blue;
        font-weight: bold;
        .row{
            margin-left: 0px;
        }
        .fa{
            align-self: center;
            color: $color-blue;
        }
    }
}

.media{
    margin-top: 20px;
    .img-thumbnail{
        height: 50px;
        width: 50px;
    }
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




#services{
    text-align: center;
    min-height: 0px;
    h1{
        margin-top: -20px;
        font-size: 2em;
        margin-bottom: -20px;
    }
    .row{
        grid-column-gap: 10px;
    }
    .card{
        padding: 10px;
        margin-left: 10px;
        margin-right:10px;
        margin-top: 35px;
        margin-bottom: 10px !important;
        //height: 520px;
        
    }
    .card-img-overlay{
        color: white;
        padding: 5;
        opacity:0.85;
        h4{
            background: linear-gradient(to right, blue , green);
           
        }
    }
    
}

.slick-prev:before, .slick-next:before{
    color: black !important;
}


#trainings{
    margin-top: 40px;
    text-align: center;
    background-image: url("./../img/training-bg.png");
    height: 90%; 

    /* Center and scale the image nicely */
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-size: cover;
    .card{
        width: 100%;
    }
    span{
        color: black;
    }
    #comma{
        width: 3%;
    }
    .carousel-item{
        height:160px;
        
    }
    .text-secondary{
        margin-bottom: 4px;
    }
    img{
        width: 80%;
    }
    .carousel-control-prev{
        padding-right: 60px;
    }
    .carousel-control-next{
        padding-left: 60px;
    }
    .Marquee {
        
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1em;
        color: #fff;
        font-weight: 200;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
      }
      .Marquee-content {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-animation: marquee 10s linear infinite running;
        -moz-animation: marquee 10s linear infinite running;
        -o-animation: marquee 10s linear infinite running;
        -ms-animation: marquee 10s linear infinite running;
        animation: marquee 10s linear infinite running;
      }
      .Marquee-content:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        -ms-animation-play-state: paused;
        animation-play-state: paused;
      }
      .Marquee-tag {
        width: 150px;
        margin: 0 0.5em;
        padding: 0.5em;
        background: rgba(255,255,255,0.1);
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-box;
        display: inline-flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      .Marquee-tag:hover {
        background: rgba(255,255,255,0.5);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
      }
      @-moz-keyframes marquee {
        0% {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
        100% {
          -webkit-transform: translate(-50%);
          -moz-transform: translate(-50%);
          -o-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%);
        }
      }
      @-webkit-keyframes marquee {
        0% {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
        100% {
          -webkit-transform: translate(-50%);
          -moz-transform: translate(-50%);
          -o-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%);
        }
      }
      @-o-keyframes marquee {
        0% {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
        100% {
          -webkit-transform: translate(-50%);
          -moz-transform: translate(-50%);
          -o-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%);
        }
      }
      @keyframes marquee {
        0% {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
        100% {
          -webkit-transform: translate(-50%);
          -moz-transform: translate(-50%);
          -o-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%);
        }
      }
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}


body{
    padding:0px 0px 0px 0px;
    z-index:0;
}

html{
    scroll-behavior: smooth;
}

#join-us{
    img{
        width:100%;
    }
    div{
        margin-top: 20px;
    }
}

#partners{
    .partner-img{
        width: 200px;
        margin-top: 40px;
        margin-left: 20px;
    }
}

.popover{
    h1{
        font-size: 1.25em;
    }
}

#contact-us{
    padding-top: 110px;
    margin-top: 40px;
}

#footer-links{
    a{
        color:$color-blue !important;
    }
}

.nav-link.active {
    color: darkblue !important;
    text-emphasis: bold;
  }

  
.navbar-dark {
     background-color: $background-white;
     
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}

.carousel {
    background:$background-white;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}



.modal-header{
    background-color: $background-white;
    color:floralwhite;

    .close{
        color:floralwhite;
    }
}

.modal-body{
    background-color: $background-pale;
}


.form-group {
    position: relative;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .input-group {
    position: relative;
  }
  .form-control {
    display: block;
    height: 36px;
    width: 100%; 
    border: none;
    border-radius: 0 !important;
  
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #757575;
  }
  .input-group .form-control {
    position: relative;
    z-index: inherit;
    float: inherit;
    width: 100%;
    margin-bottom: 0;
  }
  .form-control:focus {
    border-color: #757575;
    outline: none;
    box-shadow: none;
  }
  
  /* -- label styles ---------------------------------- */
  label {
    position: absolute;
    top: -18px;
    color: #999;
    font-size: 12px;
    font-weight: 300;
    
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .form-horizontal .control-label {
    position: relative;
    top: 0;
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .form-horizontal .control-label {
      font-size: 16px;
    }
  }
    
  
  
  
  
  .float-label {
    left: 0;
    top: 7px;
    font-size: 16px;
    pointer-events: none;
  }
  
  /* active state */
  .form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
    top: -18px;
    font-size: 12px;
  }
  
  
  /* input colors ---- */
  // default
  .form-control:focus {
    ~ label {
      color: #03a9f4;
    }
    
    ~ .form-bar:before, ~ .form-bar:after {
      background: #03a9f4;
    }
  }
  
  
  
  
  
  /* help-block */
  .form-group .help-block {
    position: absolute;
  }
  
  .help-block {
    color: #bdbdbd; // caption
    font-size: 12px;
    font-weight: 300;
  }
  
  /* input addon ---*/
  .input-group-addon {
    border: none;
    background: transparent;
  }
  
  /* ------  inline ----*/
  .input-group-addon, .form-inline .input-group {
    display: table-cell;
  }
  
  .input-group-addon, .input-group-btn {
    width: inherit;
  }
  
  .input-group {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .form-inline .form-group {
      margin-top: 16px;
    }
    
    .input-group-btn, .input-group .form-control, .input-group-addon, .form-inline .input-group {
      display: inline-block;
    }
    
    .input-group {
      width: auto;
    }
  }

@media only screen and (max-width:768px) {
    section{
        padding-top: 258px;
        margin-top: -258px;
    }
    
    #jumbotron-section{
        padding-top: 340px;
        margin-top: -340px;
    }

    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
        width:70px;
    }

    

    .row-content{
        padding-top: 70px;
    }
    .navbar{
        .nav-item{
            text-align: center;
            margin-top: 2px;
        }
        .btn{
            align-self: center;
            text-align: center;
            font-size: 12px;
            padding: 10px 22px;
            margin-top: 6px;
        }
    }
    
    #jumbotorn{
        padding: 0px !important;
    }
    .jumbotron{
        .row-header{
            padding-top: 120px;
            margin-top:-90px
        }
        .btn{
            margin-bottom: 15px;
            font-size: 12px;
            padding: 10px 22px;
        }
        img{
            width: 100%;
        }
        h1{
            margin-top: 8px;
            text-align: center;
            font-size: 1.5em;
        }
        hr{
            width: 100%;
        }
        p{
            margin-top: -25px;
            text-align: center;
        }
        #btn-row{
            margin-top: -13px !important;
        }
    }
    #about-us{
        h4{
            font-size: 1em;
        }
        p{
            font-size: 0.75em;
        }
        h3{
            font-size: 1.5em;
        }
    }
    #services{
        p{
            margin-bottom: 4px;
        }
        h1{
            font-size: 1.5em;
        }
        .card-title{
            font-size: 1.35em;
        }
        ul{
            font-size: 0.9em;
        }
    }
    #trainings{
        .carousel-item{
            padding-top: 4px !important;
            height: 240px;
        }
        #comma{
            width: 7%;
        }
        h1{
            font-size: 1.75em;
        }
        p{
            font-size: 0.8em;
        }
        hr{
            width: 100%;
            color: black;
        }
        
    }
    #join-us{
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: 0.75em;
        }
        .row-content{
            margin-top: 0px;
        }
        img{
            width: 90%;
        }
        .btn{
            font-size: 0.75em;
        }
    }

    .popover{
        h1{
            font-size: 1em;
        }
        max-width: 160px;
        font-size: 0.75em;
        .btn{
            font-size: 1em;
        }
        i{
            size: 0.25em;
        }
    }
    #partners{
        .partner-img{
            width: 100px;
            margin-left: 5px;
        }
    }
    #contact-us{
        padding-top: 70px;
        margin-top: -218px;
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: 0.75em;
        }
        .row{
            margin-bottom: 10px !important;
        }
        .form-group{
            width: 100% !important;
        }
        .btn{
            align-self: center;
            text-align: center;
            font-size: 18px;
            padding: 10px 22px;
            margin-top: 6px;
            width: 100% !important;
        }
    }
    footer{
        div{
            text-align: center;
        }
    }
}